.container {
    max-width: 800px;
    margin: 100px auto 40px auto; 
    padding: 0;
    font-family: 'Courier New', monospace; 
    text-align: center; 
}

.header {
    color: white; 
    margin-bottom: 50px;
    font-size: 24px;
    font-weight: 500;
}

.textArea {
    width: 100%;
    padding: 15px;
    font-size: 18px;
    min-height: 120px;
    margin-bottom: 20px;
    border-radius: 8px;
    background-color: transparent;
    border: none;
    color: #e2b714; 
    box-sizing: border-box;
    resize: none; 
    outline: none;
    text-align: center; 
}

.textAreaDisabled {
    cursor: not-allowed;
    color: #646669; 
}

.button {
    padding: 10px 30px;
    font-size: 16px;
    cursor: pointer;
    background-color: #3a3d40; 
    color: #646669; 
    border: none;
    border-radius: 6px;
    display: inline-block; 
    width: auto;
    transition: background-color 0.3s, color 0.3s;
}

.button:hover {
    background-color: #44474a;
    color: white; 
}