.textContainer {
    padding: 0;
    margin: 0 0 50px 0; 
    line-height: 1.5;
    font-size: 28px; 
    white-space: pre-wrap;
    word-break: break-word;
    text-align: center;
}

.charCorrect {
    color: #d1d0c5; 
}

.charIncorrect {
    color: #ca4754; 
    background-color: transparent;
    font-weight: normal;
    text-decoration: none; 
    border-bottom: 2px solid #ca4754;
}

.charPending {
    color: #646669; 
}

.charCursor {
    color: #323437;
    border-bottom: none;
    background-color: white;
}


.charCursorError {
    color: #323437; 
    border-bottom: none;
    background-color: red;
}